# Python (Backend)
backend/__pycache__/
backend/*.py[cod]
backend/venv/
backend/logs/*
!backend/logs/.gitkeep

# Node (Frontend)
frontend/node_modules/
frontend/.next/
frontend/out/

# Docker & Environment Files
.DS_Store
backups/
**/*.env*
.env.dev
.env.production
.env.local
!*.env.example

logs/*
docs/**/*.json
temp/*


# Mobile (Flutter)
x_mobile_app/build/
x_mobile_app/.dart_tool/
x_mobile_app/.flutter-plugins
x_mobile_app/.flutter-plugins-dependencies
x_mobile_app/.packages
x_mobile_app/.pub-cache/
x_mobile_app/.pub/
x_mobile_app/.stitch/

media/*

# Terraform
terraform/.terraform/
terraform/*.tfstate
terraform/*.tfstate.*
terraform/*.tfvars
